.btn {
	background-color: rgba(248, 203, 5, 0.925);
	padding: 10px 20px;
	margin-top: 25px;
	cursor: pointer;
	border: none;
}

.section {
	border: 1px solid lightblue;
	background: lightblue;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.hash {
	display: inline-block;
	border: 1px solid red;
	width: 30px;
}
